{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="alert alert-success">
    <strong>Success!</strong> Submitted Successfully
</div>
<div class="container">
    <div style="text-align: center">
       <h1 style="margin-top: 4em;"> SUCCESSFULLY REGISTERED! <h1>
           <hr>
           <img src='{% static "codefundo/images.jpg" %}' width='200' height='200'>
           <br>
           <br>
           <a href="main_loggedin_page.html"><button type="button" class="btn btn-success btn-lg">Submit Another Response</button>
       
</div>
<div style="background-image:url({% static 'codefundo/download.jpg' %})">sdfsdf</div>



<div class="alert alert-success">
   <div class="row">
<div class="col-sm-8">
    <strong>Note!</strong> 
</div>
<div class="col-sm-4">
    <div style="text-align:center">It is ensured that your data is private</div> 
     </div> 
</div>

   </div>
   
   
<br>
{% endblock content %}